@import "tailwindcss";

/* HeroMarquee Animation */
@keyframes marquee-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-marquee-left {
  animation: marquee-left 28s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 32s linear infinite;
}

.animate-marquee-left-slow {
  animation: marquee-left 38s linear infinite;
}

/* hide scrollbar for dashboard sidebar */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}